{% extends "AppTienda/Principal.html" %} <!-- Declaro que Principal es mi herencia-->

{% load static %} <!-- Obligadamente va-->

<!-- Titulo centrado-->
{% block titulo %}
    <div class="container">                   
        <div class="masthead-subheading">Busqueda de Clientes</div>
    </div>
{% endblock %}

<!-- Nombre Formulario-->

{% block nombre_formularios %}
    <h2 class="section-heading text-uppercase">Buscar cliente</h2>
{% endblock %}

<!-- Mostrar Formularios-->

{% block formularios %}

<h1>Formulario de Busqueda de Clientes</h1>

<form action="{% url 'buscarCliente' %}" method="GET">

    <input type="text" name="apellido" id="apellido">

    <input type="submit" value="Buscar">

</form>

{{ mensaje }}
{% endblock %}